main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 4rem;
    height: 80vh;
    align-items: center;
    gap: 2rem;
}

main .sendProfile {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
}

main .sendProfile img {
    width: 150px;
    border-radius: 100%;
    padding: 20px 0;
}

main .sendProfile #cantidadBanco {
    font-size: 2rem;
    font-weight: 600;
}

main .transaction {
    margin-top: 2rem;
}

main .transaction input {
    margin-top: 2rem;
    padding: 1rem 0;
    width: 75%;

    font-size: 3rem;
    color: white;

    border: none;
    outline: none;
    text-align: center;
    border-radius: 50px;

    background-color: var(--bgDarkBlue);
}

main .sendTo {
    grid-column: 4/6;
}

main .sendTo h2 {
    margin-bottom: 2rem;
}

main .sendTo input {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;

    color: white;
    font-size: 2rem;

    border: none;
    outline: none;

    background-color: var(--bgDarkBlue);
}

main .sendTo ul {
    list-style-type: none;
}

main .sendTo ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: var(--bgDarkBlue);
    border-radius: 50px;
    gap: 2rem;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
}

main .sendTo ul li:hover {
    background-color: #1d2c38;
}

main .sendTo ul img {
    width: 4rem;
    border-radius: 100%;
}

button {
    margin-top: 2rem;
}

@media screen and (max-width: 1400px) {
    main {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 1200px) {
    main {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1000px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        height: auto;
    }

    main .sendProfile {
        margin-top: 2rem;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1;
    }

    main .sendTo {
        width: 100%;
        grid-column: 1/2;
        grid-row: 2;
    }

    main .transaction input {
        width: 100%;
        font-size: 1.5rem;
    }

    main .sendTo h2{
        margin-top: 4rem;
        margin-bottom: 0;
    }

    main .sendTo input {
        font-size: 1.5rem;
    }

    button {
        width: 100%;
        background-color: rgb(43, 43, 174);
    }
}

@media screen and (max-width: 800px) {
    main {}
}

@media screen and (max-width: 600px) {
    main {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 400px) {
    main {
        padding: 0 2rem;
    }
}