:root{
    --colorWhiteContrast : #D9D9D9 ;
    --blueLightResalt : #A3C0DA ;
    --blueInput : #222E3A ;
    --colorWhite : #FFFFFF ;
    --bgDarkBlue : #17222B ;
    --bgBlue : #243340 ;
    --redNegative : #E42929 ;
    --greenPositive : #16A925 ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    cursor: default;
}
body{
    background-color: var(--bgBlue);
    color: white;
    font-size: 18px;
}

.template {
    padding: 0rem 12rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav p {
    font-weight: 600;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--colorWhite);
}

footer{
    padding: 4rem 12rem;
    margin-top: 10rem;
    background-color: var(--bgDarkBlue);
}
footer h3{
    font-size: 3rem;
    font-weight: 600;
}
footer .links{
    margin-top: 5rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
footer .links a{
    color: white;
    text-decoration: none;
    width: fit-content;
}
footer .links a:hover{
    text-decoration: underline;
}
input, a, button{
    cursor: pointer;
}
button{
    background-color: var(--bgDarkBlue);
    color: var(--colorWhite);
    height: 3rem;
    padding: 0 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
    .template {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 800px) {
    footer{
        padding: 2rem;
    }
    nav{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .template {
        padding: 0 1rem;
    }
    footer{
        padding: 2rem;
    }
    footer h3{
        font-size: 2rem;
    }
    footer .links{
        grid-template-columns: repeat(1, 1fr);
    }
}